<!--<footer class="bg-primary mt-3 px-4 py-3 text-light text-right">
    Creado por Jesus Mata, Express-Node. 2021
</footer>-->
<nav class="navbar fixed-bottom navbar-expand-sm bg-primary p-0 shadow py-3">
    <footer class="px-3 text-light text-right">
    	Creado por Jesus Mata, Express-Node. 2021
	</footer>
</nav>

</body>

</html>