<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Jesus Mata">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/dashboard.css">
</head>

<body>